* {
    margin: 0;
    color: white;
    font-family: 'Dancing Script', cursive;
    overflow: hidden;
    box-sizing: border-box;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background: black;
    transition: .5s ease-in-out;
}
.nav-buttons {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1vh;
    padding: .5em;
    font-size: 5vh;
    border: 1px solid white;
}
.nav-buttons:hover {
    cursor: pointer;
}
.bar-btn {
    display: block;
}
.x-btn {
    display: none;
}
.nav-links {
    display: none;
}
.nav-links-mobile {
        position: absolute;
        top: 0;
        right: 0;
        height: inherit;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0 1em 0 0;
}
.nav-links-mobile > li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vh;
    list-style: none;
    padding: 2vh;
    width: 100vw;
    margin: 0 0 3vh 0;
}
.nav-links-mobile > li:hover {
    cursor: pointer;
    background: grey;
    border: 2px solid brown;
}
.nav-links > li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    list-style: none;
    padding: 1em;
}
.nav-links > li:hover {
    cursor: pointer;
    background: grey;
    border: 2px solid brown;
}
.nav-logo {
    display: none;
}
.shader {
    height: 100vh;
    width: 100vw;
    background: rgb(0 , 0 , 0 , .55);
}
.background-logo {
    height: 100vh;
    width: 100vw;
    background-image: url('images/barbershop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pop-up{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    display: none;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
}
.pop-up > p {
    margin: 2vh 0 0 0;
}
.pop-up > button {
    height: 10vh;
    width: 80vw;
    background: grey;
    border: 2px solid brown;
    border-radius: 1vh;
    font-size: 6vh;
    margin: 3vh 0 0 0;
}

@media screen and (width >= 1000px) {
    .navbar {
        height: 15vh;
    }
    .nav-links {
        position: absolute;
        top: 0;
        right: 0;
        height: inherit;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 1em 0 0;
    }
    .nav-links-mobile {
        display: none;
    }
    .nav-logo{
        position: absolute;
        top: -2em;
        left: 0;
        display: block;
        height: inherit;
        width: 15%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        scale: 2;

    }
    .nav-buttons{
        display: none;
    }
    .bar-btn {
        display: none;
    }
}