* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Dancing Script', cursive;
}
body {}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background: black;
}
.nav-links {
    display: none;
}
.nav-links > li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    list-style: none;
    padding: 1em;
}
.nav-links > li:hover {
    cursor: pointer;
    background: grey;
    border: 2px solid brown;
}
.nav-logo {
    display: none;
}
.shader {
    height: 100vh;
    width: 100vw;
    background: rgb(0 , 0 , 0 , .55);
}
.background-logo {
    height: 100vh;
    width: 100vw;
    background-image: url('images/barbershop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@media screen and (width >= 1000px) {
    .navbar {
        height: 15vh;
    }
    .nav-links {
        position: absolute;
        top: 0;
        right: 0;
        height: inherit;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 1em 0 0;
    }
    .nav-logo{
        position: absolute;
        top: -2em;
        left: 0;
        display: block;
        height: inherit;
        width: 15%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        scale: 2;

    }
}